@import './extendables'

=background-arrow($background-color, $z-index: 0, $skew: 28deg)
  position: relative

  &:before
    @extend %cover-parent
    content: ''
    z-index: $z-index   
    clip-path: polygon(49.5% 0, 100% 0, 100% 100%, 49.5% 100%)      
    transform: skewY($skew)
    background-color: $background-color
  
  
  &:after
    @extend %cover-parent      
    content: ''
    z-index: $z-index   
    clip-path: polygon(0 0, 50.5% 0, 50.5% 100%, 0 100%)
    transform: skewY(-$skew)
    background-color: $background-color
    
