{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "standard",
  "plugins": [
    "react"
  ],
  "globals": {
    "graphql": false
  },
  "rules": {
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
  }
}